:root {
  --color-text-main: #14471e;
  --color-text-sub: #68904d;
  --color-bg-sub: #ee9b01;
  --color-bg-main: hsla(174, 10%, 80%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--color-bg-sub);
  color: var(--color-text-main);
  padding: 20px;
}

/* style for infor box */
.infor {
  top: 20px;
  position: relative;
}

.infor-title {
  position: absolute;
  top: -10px;
  left: 20px;
}

.infor-detail {
  padding: 15px 20px 10px;
  display: inline-block;
  background-color: var(--color-bg-main);
  border-radius: 5px;
  font-weight: 600;
}
/* end of style for infor box */
